.App {
  text-align: center;
  background-size: cover;
    background:
    radial-gradient(circle at top left, #172554 0%, transparent 30%),
    radial-gradient(circle at bottom right, #3b0764 0%, transparent 30%),
    linear-gradient(135deg, #020617 0%, #0f172a 50%, #111827 100%);

  font-family: "Poppins", sans-serif;
  background:
      linear-gradient(
        to bottom,
        rgba(255,255,255,0.03),
        transparent
      );
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.splatterer {
    position: relative;
    /* overflow: visible;
    isolation: isolate; */
    /* z-index: 2; */
}
canvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-ui{
    position: relative;
    z-index: 2;

}
.App-link {
  color: #61dafb;
}
.fluid-canvas {
    background: transparent;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar.css */

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 10px;
}

.title {
  color: #fff;
  font-size: 20px;
}

.player-card-container{
  /* background-image: url("./crick-bg.png"); */
  background-size: contain;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.border-yellow-400{
  border: 7px solid yellow;
}
