

  .price-card {
  margin-left: 148px;
  top: -25px;
  width: 85rem;
  height: 160px;
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 30px;
  border: 1px solid rgba(180, 80, 255, 0.6);
  background:
    linear-gradient(173deg, #18002f, #9812ff33);
  box-shadow:
    0 0 40px rgb(106 0 0 / 50%);

  position: relative;

  overflow: hidden;
}

.price-card::before {
  content: "";

  position: absolute;

  inset: 0;

  background:
    linear-gradient(
      120deg,
      transparent,
      rgba(255,255,255,0.4),
      transparent
    );

  transform: translateX(-100%);

  animation: shine 3s infinite;
}

@keyframes shine {
  100% {
    transform: translateX(100%);
  }
}

.price-title {
  color: rgba(255, 255, 255, 0.7);

  font-size: 18px;

  letter-spacing: 3px;

  font-weight: 700;
}

.price-value {
  font-size: 120px;

  font-weight: 900;

  color: white;

  line-height: 1;
}


/*---------------------------------------------------------------------
                        Mouse cursor
-----------------------------------------------------------------------*/
.theBall,
.theBall-outer {
  width: 20px;
  height: 20px;
}
.theBall-outer {
  position: fixed;
  top: -20px;
  left: -20px;
  z-index: 9999999999999999999;
  pointer-events: none !important;
}
.theBall {
  position: absolute;
  background-color: rgba(255, 114, 114, 0.8);
  border-radius: 50%;
  -webkit-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center center;
}
.zooming.theBall {
  background-color: #ff7272;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

/*---------------------------------------------------------------------
                        Mouse Effect
-----------------------------------------------------------------------*/
.mouse-move {
  position: absolute;
  bottom: -130px;
  left: 50%;
  width: 65px;
  margin-left: -50px;
}
.mouse-move a {
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  border-radius: 900px;
  text-align: center;
}
.mouse-move .boom::before,
.mouse-move .boom::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mouse-move .boom::before,
.mouse-move .boom::after {
  content: "";
  z-index: -1;
  margin: 0;
  border-radius: 900px;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.mouse-move .boom::before {
  animation-delay: -4s;
}
@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
/* .banner_canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
/* } */
#splatterer {
    position: absolute;
    left: 600px;
    top: 100px;

    background: transparent;
    border: 2px solid white;

    /* overflow: hidden; */
    isolation: isolate;

    z-index: 2;
}

canvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/**
  Browser should support Houdini API
*/

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}

:root {
  --bg-background: #111827;
  --clr-card: #1f2937;
  --clr-1: #6420aa;
  --clr-2: #ff3ea5;
  --clr-3: #ff7ed4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-background);
}

main {
  /* height: 24rem;
  width: 16rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#extracard{
  position: relative;
  /* height: 24rem;
  width: 16rem; */
  border-radius: 0.45rem;
  cursor: pointer;
  background-color: var(--clr-card);
  text-align: center;
  font-size: 300px;
}
.card {
  margin: 30px;
  position: relative;
  height: 24rem;
  /* width: 16rem; */
  border-radius: 0.45rem;
  cursor: pointer;
  background-color: var(--clr-card);
  z-index: 3;
}

.card::after,
.card::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: -0.5rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-card),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1),
    var(--clr-card)
  );
  border-radius: inherit;
  animation: rotate 2.5s linear infinite;
}

.card,
.card::before,
.card::after {
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.card::after {
  filter: blur(3rem);
}

@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
